.window {
  height: 100%;
  width: 100%;
  background-image: url('window.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.scenery {
  width: 300px;
  height: 250px;
  background-image: url('winter.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  position: relative;
}

.snow {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -2;
  background: url('snow.png')
}

.footer {
  width: 100%;
  height: 30px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4369C8;
}
